@font-face {
  font-family: 'HarryPotter';
  src:
    local('HarryPotter'),
    url(../public/assets/fonts/HARRYP__.TTF) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarryPotter7';
  src:
    local('HarryPotter7'),
    url(../public/assets/fonts/HarryPotter7.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HaveYouSeenHim';
  src:
    local('HaveYouSeenHim'),
    url(../public/assets/fonts/purple-3.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Undesiared';
  src:
    local('Undesiared'),
    url(../public/assets/fonts/tatu.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BluuNext';
  src:
    local('BluuNext'),
    url(../public/assets/fonts/BluuNext-Titling.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaPro';
  src:
    local('SofiaPro'),
    url(../public/assets/fonts/sofiapro-light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
}

/* Auth Form */

.auth-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;
  background-color: transparent;
  margin: 16px 16px 16px 16px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  border-radius: 8px;
  background-color: transparent;
  margin: 16px 16px 16px 16px;
  align-items: center;
}

.form-label {
  font:
    16px 'HarryPotter7',
    sans-serif;
  color: #ffffff;
  margin-bottom: 5px;
}

.auth-form input[type='email'],
.register-form input[type='email'],
.register-form input[type='text']:not(.password) {
  width: 100%;
  margin-bottom: 30px;
  padding: 16px 16px;
  font:
    16px 'SofiaPro',
    sans-serif;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #1c1e28;
  color: #ffffff;
}

.register-form .password,
.auth-form .password {
  padding: 16px 16px;
  font:
    16px 'SofiaPro',
    sans-serif;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: #1c1e28;
  color: #ffffff;
}

.password-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.register-form .password:focus,
.auth-form .password:focus {
  background-color: #1c1e28;
  color: #ffffff;
}

.auth-form-container button[type='submit'] {
  background-color: #b0955e;
  color: #ffffff;
  font:
    16px 'HarryPotter7',
    sans-serif;
  padding: 16px 60px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
}

.auth-form-container button {
  background-color: #10141b;
  color: #ffffff;
  font:
    16px 'HarryPotter7',
    sans-serif;
  padding: 16px 60px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: #ffffff 1px solid;
  box-shadow: #000 0px 0px 10px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.auth-form-container h2 {
  background-color: #1c1e28;
  color: #ffffff;
  font:
    16px 'HarryPotter7',
    sans-serif;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.auth-form-container hr {
  color: #ffffff;
  width: 100%;
}

.auth-form button[type='submit']:hover {
  background-color: #6e5729;
  color: #ffffff;
}

.auth-form-container button:hover {
  background-color: #ffffff;
  color: #000;
}

/* Header */

.auth-form-header {
  color: #b0955e;
  text-shadow: #000 0px 0px 10px;
}

.auth-form-header h1 {
  font:
    90px 'HarryPotter',
    sans-serif;
  text-align: center;
  margin: 0;
}

.auth-form-header h2 {
  font:
    30px 'HarryPotter7',
    sans-serif;
  text-align: center;
}

/* Background */

.background-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  z-index: -1;
  background-color: #10141b;
}

.castle {
  width: 100%;
  height: 100%;
  background-image: url('../public/assets/img/hogwarts-img.png');
  background-size: cover;
  z-index: -1;
  opacity: 1;
}

.background-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  animation: lightning 4s linear infinite;
  z-index: -1;
}

@keyframes lightning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Level Selector */

.level-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.level-selector {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 8px;
  background-color: transparent;
  margin: 16px 16px 16px 16px;
}

.level-carousel {
  width: 600px;
  height: 400px;
}

.level-carousel > .carousel-inner {
  display: flex;
  width: 100%;
  height: 100%;
}

.level-carousel-item {
  cursor: pointer;
  transition: transform 0.5s ease;
}

.level-carousel-item:hover {
  transform: scale(1.1);
  color: #b0955e;
}

.level-carousel-item.disabled {
  cursor: not-allowed;
}

.level-carousel-item > .carousel-caption {
  bottom: initial;
  top: 0;
}

.level-carousel-item h2 {
  color: #ffffff;
  font-weight: bold;
  font:
    40px 'HarryPotter',
    sans-serif;
  text-shadow: #000 0px 0px 10px;
}

.level-carousel-item h3 {
  color: #ffffff;
  font-weight: bold;
  font:
    20px 'HarryPotter7',
    sans-serif;
  text-shadow: #000 0px 0px 10px;
}

.lock-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-button {
  background-color: #b0955e;
  color: #ffffff;
  font:
    16px 'HarryPotter7',
    sans-serif;
  padding: 16px 60px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.play-button:hover {
  background-color: #6e5729;
  color: #ffffff;
}

.play-button:disabled {
  background-color: #10141b;
  color: #ffffff;
  cursor: not-allowed;
}

/* Footer Buttons */

.footer-settings-container {
  position: fixed;
  display: flex;
  gap: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.footer-logout-container {
  position: fixed;
  display: flex;
  gap: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 999;
}

.footer-settings-container button,
.footer-logout-container button {
  background-color: #10141b;
  color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.footer-settings-container button:hover,
.footer-logout-container button:hover {
  background-color: #ffffff;
  color: #000;
}

/* Perfil */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-container button {
  background-color: #10141b;
  font-family: 'HarryPotter7', sans-serif;
  padding: 16px 30px;
  color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 4px;
  box-shadow: #000 0px 0px 10px;
  cursor: pointer;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.profile-container button:hover {
  background-color: #ffffff;
  color: #000;
}

.paper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url('../public/assets/img/paper.png');
  background-size: cover;
  width: 700px;
  height: 420px;
  padding-top: 30px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0;
}

.line {
  height: 4px;
  width: 80%;
  border: 0;
  background: black;
}

.line-bold {
  height: 4px;
  width: 100%;
  border: 0;
  background: black;
}

.paper-container h1 {
  font-family: 'Undesiared', sans-serif;
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
  text-align: start;
  font-weight: bold;
}

.paper-container h2 {
  margin-top: 20px;
  font-family: 'HaveYouSeenHim', sans-serif;
  font-size: 45px;
  color: #000;
  text-align: start;
  font-weight: bold;
}

.paper-container h3 {
  margin-top: 10px;
  font-family: 'HaveYouSeenHim', sans-serif;
  font-size: 25px;
  color: #000;
  text-align: start;
  font-weight: bold;
}

.paper-container h4 {
  margin-top: 10px;
  font-family: 'HaveYouSeenHim', sans-serif;
  font-size: 25px;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.paper-container h5 {
  margin-top: 10px;
  font-family: 'HaveYouSeenHim', sans-serif;
  font-size: 30px;
  color: #420808;
  text-align: center;
  font-weight: bold;
}

.stadistic-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game Indicators */

.game-indicators-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.game-indicators-info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 20px;
  padding: 20px;
  z-index: 998;
}

.game-indicators-health {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heart {
  animation: pulse 2s infinite alternate;
}

.health-bar {
  width: 300px;
  height: 40px;
  background-color: #1c1e28;
  border: #b0955e 6px solid;
  box-shadow: #000 0px 0px 5px;
}

.health-bar-inner {
  height: 100%;
  background-color: #155c27;
  animation: increaseWidth 2s ease-in-out forwards;
  transition:
    width 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.mana-bar {
  width: 150px;
  height: 25px;
  background-color: #1c1e28;
  box-shadow: #000 0px 0px 5px;
}

.mana-bar-inner {
  height: 100%;
  background-color: #222297;
  animation: increaseWidth 2s ease-in-out forwards;
  transition:
    width 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes increaseWidth {
  0% {
    width: 0;
  }
  100% {
    width: var(width);
  }
}

.game-indicators-spells {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  z-index: 998;
}

.choose-spell {
  width: 100px;
  height: 100px;
  border: #b0955e 10px solid;
  transform: rotate(45deg);
  box-shadow: #000 0px 0px 5px;
  margin-bottom: 40px;
}

.selected-spell {
  width: 100%;
  height: 100%;
  display: flex;
  transform: rotate(-45deg);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selected-spell-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  font-family: 'HarryPotter7', sans-serif;
  font-size: 10px;
  color: #6e5729;
  margin: 0;
  padding: 20px;
}

.selected-spell-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  font-family: 'HarryPotter7', sans-serif;
  font-size: 10px;
  color: #6e5729;
  margin: 0;
  background-image: url('../public/assets/img/paper3.png');
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.selected-spell h2 {
  font-family: 'HarryPotter7', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: bold;

  margin: 0;
}

.options-spells {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option-spell {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: #b0955e 10px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.key-indicator {
  position: absolute;
  bottom: -20px;
  left: -10px;
  background-color: white;
  color: black;
  font-family: 'HarryPotter7', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6e5729 2px solid;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: #000 0px 0px 5px;
}

/* Menu Game */
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.menu {
  background-color: #1c1e28;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.menu-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-body button {
  background-color: #10141b;
  color: #ffffff;
  font-family: 'HarryPotter7', sans-serif;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0px 0px 5px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.menu-body button:hover {
  background-color: #ffffff;
  color: #000;
}

.menu h2 {
  margin-top: 0;
  color: #b0955e;
  font-family: 'HarryPotter7', sans-serif;
  margin-bottom: 20px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #10141b;
}

.loader {
  display: flex;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.loader-text {
  margin-top: 10px;
  font-family: 'HarryPotter', sans-serif;
  font-size: 60px;
  color: #b0955e;
  text-align: center;
  text-shadow: #000 0px 0px 10px;
}

.control {
  background-color: #1c1e28;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.control-back {
  background-color: transparent;
  color: #b0955e;
  padding: 0px;
  border: none;
  cursor: pointer;
  transition: color 0.5s ease;
}

.control-back:hover {
  color: #6e5729;
}

.control-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.control-item {
  display: flex;
  justify-content: space-between;
}

.control-key {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b0955e;
  font-family: 'HarryPotter7', sans-serif;
  background-color: #10141b;
  min-width: 28px;
}

.control-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'HarryPotter7', sans-serif;
  color: #ffffff;
  font-size: 10px;
  justify-content: center;
}

.control h2 {
  margin-top: 0;
  color: #b0955e;
  font-family: 'HarryPotter7', sans-serif;
  text-align: center;
}

.control p {
  margin-top: 20px;
  font-family: 'HarryPotter7', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.dialog {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1c1e28;
  border: 6px solid #b0955e;
  border-radius: 8px;
  padding: 20px;
  min-width: 40%;
  width: auto;
  max-width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 999;
  justify-content: space-between;
}

.dialog-img {
  position: relative;
}

.dialog-message {
  font-size: 16px;
  font-family: 'HarryPotter7', sans-serif;
  color: #ffffff;
}

.dialog-continue {
  position: absolute;
  bottom: 20px;
  right: 0;
  color: #ffffff;
  font-family: 'HarryPotter7', sans-serif;
  z-index: 999;
  width: 20%;
  text-shadow: #000 0px 0px 10px;
}

.dialog-continue strong {
  color: #b0955e;
}

.house-carousel {
  width: 250px;
  height: 150px;
}

.level-collectibles {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 999;
  color: #b0955e;
  font-family: 'HarryPotter7', sans-serif;
  font-size: 36px;
  text-shadow: #000 0px 0px 10px;
}

.gameover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.gameover {
  display: flex;
  flex-direction: column;
}

.gameover-buttons {
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
}

.gameover-buttons button {
  background-color: #10141b;
  color: #ffffff;
  font-family: 'HarryPotter7', sans-serif;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: #000 0px 0px 5px;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.gameover-buttons button:hover {
  background-color: #ffffff;
  color: #000;
}

.gameover h1 {
  color: #b0955e;
  font-family: 'HarryPotter', sans-serif;
  font-size: 140px;
  text-align: center;
}
